<footer class="s-footer footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <iframe src="https://github.com/sponsors/autonomous-interdependent-repositories/card"
                            title="Sponsor autonomous-interdependent-repositories" height="100%"
                            width="100%" style="height: 220px; border: 0;"></iframe>
                    <div class="footer__copyright">
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
</footer>
